In [1]:
# Import Dependencies and Yahoo Finance API for historical stock data
!pip install yfinance

import yfinance as yf
import os
import json
import pandas as pd

Requirement already satisfied: yfinance in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (0.1.72)
Requirement already satisfied: pandas>=0.24.0 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.3.4)
Requirement already satisfied: requests>=2.26 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (2.26.0)
Requirement already satisfied: multitasking>=0.0.7 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.5.1 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (4.6.3)
Requirement already satisfied: numpy>=1.15 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from yfinance) (1.20.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.24.0->yfinance) (2021.3)
Requirement already satisfied: six>=1.5 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->yfinance) (1.16.0)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (3.2)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (1.26.7)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.26->yfinance) (2021.10.8)

In [2]:
!pip install pandas-datareader
import pandas_datareader as pdr
import datetime

Requirement already satisfied: pandas-datareader in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (0.10.0)
Requirement already satisfied: requests>=2.19.0 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (2.26.0)
Requirement already satisfied: lxml in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (4.6.3)
Requirement already satisfied: pandas>=0.23 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas-datareader) (1.3.4)
Requirement already satisfied: python-dateutil>=2.7.3 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (2021.3)
Requirement already satisfied: numpy>=1.17.3 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from pandas>=0.23->pandas-datareader) (1.20.3)
Requirement already satisfied: six>=1.5 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.16.0)
Requirement already satisfied: idna<4,>=2.5 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (3.2)
Requirement already satisfied: certifi>=2017.4.17 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: charset-normalizer~=2.0.0 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (2.0.4)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /Users/jfitz33/opt/anaconda3/lib/python3.9/site-packages (from requests>=2.19.0->pandas-datareader) (1.26.7)

In [3]:
#Input Ticker to test
ticker="LCID"

In [4]:
tsla = yf.Ticker(f"{ticker}")
tsla_hist = tsla.history(period="max")

In [5]:
#Display tthe data
tsla_hist.head(10)

             Open    High   Low  Close   Volume  Dividends  Stock Splits
Date
2020-09-18  10.25  10.250  9.82   9.89   564300          0             0
2020-09-21   9.90   9.960  9.86   9.86   762800          0             0
2020-09-22   9.96   9.960  9.85   9.88  1280800          0             0
2020-09-23   9.90   9.905  9.79   9.85   192600          0             0
2020-09-24   9.85   9.850  9.75   9.77   605500          0             0
2020-09-25   9.77   9.850  9.77   9.81   692500          0             0
2020-09-28   9.90   9.940  9.83   9.83    72300          0             0
2020-09-29   9.88   9.880  9.76   9.78   189600          0             0
2020-09-30   9.85   9.850  9.77   9.78   546200          0             0
2020-10-01   9.85   9.850  9.74   9.76  1068500          0             0

In [6]:
tsla_hist_df = tsla_hist
tsla_hist_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2020-09-18,10.250000,10.250000,9.820000,9.890000,564300,0,0
2020-09-21,9.900000,9.960000,9.860000,9.860000,762800,0,0
2020-09-22,9.960000,9.960000,9.850000,9.880000,1280800,0,0
2020-09-23,9.900000,9.905000,9.790000,9.850000,192600,0,0
2020-09-24,9.850000,9.850000,9.750000,9.770000,605500,0,0
...,...,...,...,...,...,...,...
2022-07-19,20.490000,20.549999,19.860001,20.379999,11280300,0,0
2022-07-20,20.360001,21.340000,20.360001,21.270000,15250100,0,0
2022-07-21,21.139999,21.780001,20.781000,21.480000,15841800,0,0
2022-07-22,21.450001,21.450001,19.540001,19.680000,13990400,0,0
2022-07-25,19.780001,19.900000,18.639999,18.740000,11591200,0,0

## Data Cleaning

In [7]:
#Reset Index 
tsla_hist_df = tsla_hist_df.reset_index()
tsla_hist_df

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2020-09-18,10.250000,10.250000,9.820000,9.890000,564300,0,0
1,2020-09-21,9.900000,9.960000,9.860000,9.860000,762800,0,0
2,2020-09-22,9.960000,9.960000,9.850000,9.880000,1280800,0,0
3,2020-09-23,9.900000,9.905000,9.790000,9.850000,192600,0,0
4,2020-09-24,9.850000,9.850000,9.750000,9.770000,605500,0,0
...,...,...,...,...,...,...,...,...
460,2022-07-19,20.490000,20.549999,19.860001,20.379999,11280300,0,0
461,2022-07-20,20.360001,21.340000,20.360001,21.270000,15250100,0,0
462,2022-07-21,21.139999,21.780001,20.781000,21.480000,15841800,0,0
463,2022-07-22,21.450001,21.450001,19.540001,19.680000,13990400,0,0
464,2022-07-25,19.780001,19.900000,18.639999,18.740000,11591200,0,0

In [8]:
tsla_hist_df=tsla_hist_df[["Date", "Close", "Volume"]]
tsla_hist_df

          Date      Close    Volume
0   2020-09-18   9.890000    564300
1   2020-09-21   9.860000    762800
2   2020-09-22   9.880000   1280800
3   2020-09-23   9.850000    192600
4   2020-09-24   9.770000    605500
..         ...        ...       ...
460 2022-07-19  20.379999  11280300
461 2022-07-20  21.270000  15250100
462 2022-07-21  21.480000  15841800
463 2022-07-22  19.680000  13990400
464 2022-07-25  18.740000  11591200

[465 rows x 3 columns]

In [9]:
tsla_hist_df["Ticker"]=f"{ticker}"
tsla_hist_df

/var/folders/62/br05s5jx4psbv26qjm7326rw0000gn/T/ipykernel_50776/2842332454.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tsla_hist_df["Ticker"]=f"{ticker}"

          Date      Close    Volume Ticker
0   2020-09-18   9.890000    564300   LCID
1   2020-09-21   9.860000    762800   LCID
2   2020-09-22   9.880000   1280800   LCID
3   2020-09-23   9.850000    192600   LCID
4   2020-09-24   9.770000    605500   LCID
..         ...        ...       ...    ...
460 2022-07-19  20.379999  11280300   LCID
461 2022-07-20  21.270000  15250100   LCID
462 2022-07-21  21.480000  15841800   LCID
463 2022-07-22  19.680000  13990400   LCID
464 2022-07-25  18.740000  11591200   LCID

[465 rows x 4 columns]

In [10]:
filename=f"{ticker}.csv"

In [11]:
tsla_hist_df.to_csv(filename, sep=',', encoding='utf-8', index=False)