In [1]:
import pandas as pd

In [2]:
tsla=pd.read_csv("TSLA.csv")
psny=pd.read_csv("PSNY.csv")
rivn=pd.read_csv("RIVN.csv")
li=pd.read_csv("LI.csv")
xpev=pd.read_csv("XPEV.csv")
lcid=pd.read_csv("LCID.csv")
nio=pd.read_csv("NIO.csv")
fsr=pd.read_csv("FSR.csv")
nkla=pd.read_csv("NKLA.csv")
ffie=pd.read_csv("FFIE.csv")

In [3]:
all_hist_data_df=pd.concat([tsla,psny],ignore_index=True)
all_hist_data_df

            Date  Close    Volume Ticker
0     2010-06-29  4.778  93831500   TSLA
1     2010-06-30  4.766  85935500   TSLA
2     2010-07-01  4.392  41094000   TSLA
3     2010-07-02  3.840  25699000   TSLA
4     2010-07-06  3.222  34334500   TSLA
...          ...    ...       ...    ...
3333  2022-07-19  9.520   1857400   PSNY
3334  2022-07-20  9.450   2084700   PSNY
3335  2022-07-21  9.560   1828100   PSNY
3336  2022-07-22  8.910   2896400   PSNY
3337  2022-07-25  8.950   1910500   PSNY

[3338 rows x 4 columns]

In [4]:
all_hist_data_df.to_csv('all_hist_data.csv', sep=',', encoding='utf-8', index=False)